<h1>Tring for new Keywords</h1>
<%= form_for :delta do |f| %>
	<%= f.label :tab1 %><br/>
	<%= f.text_field :tab1 %><br/>
	<%= f.label :tab2 %><br/>
	<%= f.text_field :tab2 %><br/>
	<%= f.submit "Add a New Post" %>
<% end %>
